
.error-message{
    color: red
}
.body{
    max-width: 500px;
    background-color: black;
    color: white;
    border-radius: 15px;
    padding: 20px;
    margin: 1rem auto 0 auto;
}
.container{
    margin-bottom: 1rem;
}

label{
    font-size: small;
    font-weight: 600;
}
.row{
    margin: 5px;
    padding: 10px;
}
.heading{
    display: flex;
    margin: auto;
    font-size: 35px;
    font-weight: bold;
}
.submit-btn{
    margin: auto;
    width: 50%;
}
.card-img-top{
    height: 50px;
    width: auto;
    margin-right: 10px;
}