<div class="container">
  <div class="user-card">
    <div class="user-image">
      <img src="./../../../assets/Images/male-1354358_960_720.png" alt="">
    </div>
    <div class="user-info">
      <h2>Maria</h2>
      <h3>ID: 3434</h3>
      <div class="user-info">
        <p>344</p>
        <p>344</p>
        <p>344</p>
        <p>344</p>
        <p>344</p>
        <p>344</p>
      </div>
      <button class="btn btn-primary"><i class="arrow left"></i> Go back</button>
    </div>
  </div>
</div>
