.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.container > div {
    flex: 40%;
}
.user-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 500px;
    margin: 2rem;
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.coach-image > img {
    max-width: 160px;
}

.ids {
    margin-top: 1rem;
    line-height: 0.5rem;
}
