<div class="container">
    <div class="row">
      <div class="h1 center top-heading">We are at the heart of appropriate care</div>
    </div>
    <div class="row">
      <div class="col-sm-6 ">
        <div class="card center" style="width: 18rem;">
          <img class="card-img-top" src="assets/Images/Life Coach LogIn.jpg" alt="Card image cap">
          <div class="card-body">
            <a [routerLink]='["/login/coach"]' class="btn btn-primary big-button">Coach Login</a>
            <br>
            <a [routerLink]='["/coachsignup"]' class="btn btn-primary big-button">Coach Signup</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 ">
        <div class="card center" style="width: 18rem;">
          <img class="card-img-top" src="assets/Images/User LogIn.jpg" alt="Card image cap">
          <div class="card-body">
            <a [routerLink]='["/login/user"]' class="btn btn-primary big-button">User Login</a>
            <br>
            <a [routerLink]='["/usersignup"]' class="btn btn-primary big-button">User Signup</a>
          </div>
        </div>
      </div>
    </div>
  </div>